@model Prova1.Models.TipoDeAssociacao
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes do Tipo de Associação @Model.Nome</h2>
<ul>
    <li>Nome: @Model.Nome</li>
    <li>Periodo: @Model.Periodo (meses)</li>
    <li>Mensalidade: R$@Model.Mensalidade</li>
</ul>


